/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : url('slider_bg.png');
  position   : absolute;
  right      : -8px;
  top        : 0;
  bottom     : 0;
  /*transform: scale(0.97);*/
  padding-right: 8px;
  width: 16px;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.0;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 0px;
  -webkit-border-radius : 0px;
  border-radius         : 0px;
}
#artist_list .nano-pane {
  padding-right: 0;
  width: 8px;
}
.nano > .nano-pane > .nano-slider {
  // background: #84BD00;
  position              : relative;
  margin                : 0 0px;
  -moz-border-radius    : 0px;
  -webkit-border-radius : 0px;
  border-radius         : 0px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}


.nano > .nano-content {
    // padding-right: 20px !important;
}
.nano .nano-pane {
    width: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-image: url('slider_bg.png');
    // right: 0;
}
.nano .nano-pane:before {
    content: '';
    position: absolute;
    top:0;
    width: 16px;
    height: 16px;
    background-image: url('scrollbar_topbutton.png');
}
.nano .nano-pane:after {
    content: '';
    position: absolute;
    bottom:0;
    width: 16px;
    height: 16px;
    background-image: url('scrollbar_bottombutton.png');
}
.nano .nano-slider {
    width: 12px;
    background: #c0c0c0;
    border: 2px solid transparent;
    border-image-source: url(slider_border.png);
    border-image-slice: 2 2;
    border-image-repeat: round;
    // margin-bottom: 16px !important;
    // border: 3px solid transparent;
    // border-image:url('slider_border.png') 3 repeat;
}
